<div class="Container">
  <h1>Listado de productos existes</h1>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar Computadora...">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>Descuento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>id</td>
            <td>Producto</td>
            <td>Precio</td>
            <td>Marca</td>
            <td>Descuento</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>